body
{
font-family: Font;
}
b
{
  font-family: helvetica;
  font-size: 14px;
}
input[type="text"]
{
  font-family:Font;
}
input[type='submit']
{
  padding:12px;
  width: 200px;
  margin-left:16px;
  margin-bottom: 10px;
  border:1px solid #008ECC;
  border-radius: 4px;
  background-color:#008ECC;
  color: #f4f4f4;
}
input[type='submit']:hover
{
  cursor: pointer;
  background-color:#0080FF;
}
input[type='submit']:focus
{
  cursor: pointer;
  background-color:#0080FF;
  outline-color: #0080FF;
}
input[type='submit']
{
font-family:Font;
font-size: 16px;
outline: none;
}
input[type='submit']:hover
{
  cursor: pointer;
  background-color:#0080FF;
}
input[type='submit']:focus
{
  cursor: pointer;
  background-color:#0080FF;
  outline-color: #0080FF;
}
input[type=''],[type='text']
{
  padding:8px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #C8C8C8;
  text-align:justify;
  outline: none;

}
input[type='text']:focus
{
  outline: none;
  border: 1px solid #0080FF;
}
.Edit
{
  position: absolute;
  border:1px solid #000000;
  padding:16px;
  border-radius: 4px;
}
label
{
  font-weight: bold;
}
